/*Footer*/
.footer{
	padding-top: 40px;
	border-bottom: 1px solid #999999;
	min-height: 386px;

}
.footer_padding {
	margin-bottom: 20px;
}
.footer-information {
	text-transform: uppercase;
	text-align: left;
	color: #999999;
	font-size: 0.875em;

}
.about-us-img {
	width: 215px;
	height: 90px;
	display: inline-block;
	border: 1px solid #999999;
	padding: 5px;
	max-width: 100%;
    height: auto;
}
.lorem-2 {
	font-family: "Georgia Regular";
	font-size: 0.75em;
	color: #999999;
	padding-top: 21px;
}
.footer-button {
	color: #d44346;
	float: right;
	padding-right:5px;
	margin-top:32px;
}
.footer-button:visited,
.footer-button:focus,
.footer-button:hover {
	text-decoration: none;
	outline: none;
	color:#d44346;
}
.quick-links li a {
	font-size: 0.75em;
	font-family: "Georgia Regular";
	color: #d54346;
}

.quick-links li:first-child {
padding-top: 0;
	}

.quick-links li  {
	padding: 3px  9px;
	border-bottom: 1px solid #9999;
}
.caret-list {
	margin-right: 10px;
	color: #989898;
}
.quick-links a:visited,
.quick-links a:focus,
.quick-links a:hover {
	text-decoration: none;
	outline: none;
	color:#d44346;
}
.post-title-footer {
	color: #d44346;
	font-size: 0.875em;
}
.text-footer-1 {
	color: #999999;
	font-size: 0.62em;
}
.text-footer-2{
	color:#989898;
	font-size: 0.75em;
	padding-bottom: 51px;
}
.footer-button-two {
    color: #d44346;
	float: right;
	font-size: 0.75em;
	font-family: 'Georgia Regular', monospace;
	margin-top: -22px;
}

.footer-button-two:visited,
.footer-button-two:focus,
.footer-button-two:hover {
	text-decoration: none;
	outline: none;
	color:#d44346;
}
.form-group {
	font-family: 'Georgia Regular', monospace;
	font-size: 0.81em;
	
}
.form-control {
	background:#1e1e1e;
	color: #989898;
	height: 31px;
	width: 225px;
	border: none;
	border-radius: 4px;
	max-width: 110%;
    height: auto;
	

}
.form-control-text {
	min-width: 225px;
	min-height: 110px;
	background:#1e1e1e;
	font-family: 'Georgia Regular', monospace;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	position: relative;
    resize: none;

}
textarea::placeholder {
  padding: 11px 10px;
  color: #999999;
}

.submit {
	background: #d54346;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	min-width: 80px;
	min-height: 31px;
}
.submit:visited,
.submit:focus,
.submit:hover {
	text-decoration: none;
	outline: none;
	background:#d54346;
}
.Copyright {
	max-height: 61px;
	color: #999999;
	font-size: 0.75em;
	padding-top: 25px;
}
.Copyright_name {
	float: left;
}
.template {
	float: right;
	margin-bottom: 55px;
}