 * {
 	font-family: 'Georgia Regular', monospace;
}
.container-fluid {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Georgia Regular', monospace;
	
}
.clear_float::after {
	content: '';
	clear: both;
	display: block;

}
.no_padding {
    padding: 0;
}
/*Colors*/
.tx-color_grey-menu {
	color: #232425;
}
.tx-color_grey-title-huge {
	color: #1e1e1e;
}
.tx-color_grey-title-pictures {
	color: #353535;
}
.tx-color_grey-lighter {
	color: #353535;
}
.tx-color_grey-forma {
	color: #232425;
}

.tx-color_red-button-menu-hover{
	color: #e2494b;
}
.tx-color_red-read-more {
	color: #d54346;
}
/*Background*/
.background-color_grey-menu {
	background-color: #232425;
}
.background-color_grey-title-huge {
	background-color: #1e1e1e;
}
.background-color_grey-title-pictures {
	background-color: #353535;
}
.background-color_grey-lighter {
	background-color: #353535;
}
.background-color_grey-forma {
	background-color: #232425;
}

.background-color_red-button-menu-hover{
	background-color: #e2494b;
}
.background-color_red-read-more {
	background-color: #d54346;
}
