/*Content*/
/*
*Logo 42 l ;
*/
header .top-layout {
	min-height: 120px;
	border-bottom: 1px solid black;
	max-width: 100%;
    height: auto;

}
header .main_menu {
	float: right;
}
header .main_menu li  {
	float: left;
}
header .main_menu li.active {
    background: #e2494b;
}
header .main_menu li a {
	color: #979797;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	display: inline-block;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 19px;
	padding-right: 22px;
}
header .main_menu li a span {
	font-size: 0.81em;
}
header .main_menu li:last-child a {
	padding-right: 0;
}
header .main_menu li:first-child a{
	color: #ffffff;
}
/*header .main_menu li:first-child a:visited,
header .main_menu li:first-child a:focus,
header .main_menu li:first-child a:hover {
    text-decoration: none;
	outline: none;
	
}*/
header .main_menu li a:visited
header .main_menu li a:focus,
header .main_menu li a:hover {
	color:#ffff;
	transition: 0.3s;
	text-decoration: none;
}
/*Main-logo*/
.main_logo {
	float: left;
	padding-top: 38px;
	color: #999999;
}
.main_logo a {
	color: #999999;
	padding-bottom:12px;
	font-family: 'Georgia Regular', monospace;
}
.main_logo a:visited,
.main_logo a:focus,
.main_logo a:hover {
	text-decoration: none;
	outline: none;
	color: #999999;
}
.I {
	font-size: 2em;
}
.main_logo a > span + span {
	font-size: 1.62em;
	text-transform: uppercase;
}
.main_logo p {
	font-size: 0.75em;
	padding-bottom: 39px;

}

            /*Tablet*/
@media only screen and (max-width: 768px) {
	/.main_logo {
	display: block;
	float: none;
	text-align: center;
	padding-top: 10px;
	position: relative;
}

	.main_menu li  {
	   display: inline-block;
	   position: relative;
	   left: 20px;
	   float: none;
	   display: inline-block;
	 
}
	header .main_menu li a {
		padding:  20px;

		
}

	header .main_menu li.active {
       background: none;

}
	header .main_menu li:first-child a{
		color: #979797;
}
    header .main_menu li:last-child a{
		padding-left: 11px;
}
	header .main_menu li a:visited
	header .main_menu li a:focus,
	header .main_menu li a:hover {
		color:#ffff;
		transition: 0.3s;
		text-decoration: none;
}
*/



}
@media only screen and (max-width: 990px) {
	.main_logo {
	display: block;
	float: none;
	text-align: center;
	padding-top: 40px;
}

}

@media only screen and (max-width: 992px) {
	/.main_logo {
		display: none;
	}
	.main_menu {
	   display: inline-block;
	   position: relative;
	   margin-left: -15px;
	}*/
	main_logo {
	display: block;
	float: none;
	text-align: center;
	padding-top: 10px;
}
	
}

@media only screen and (max-width: 1200px) {
	/.main_logo {
		display: none;
	}
	.main_menu {
	   display: inline-block;
	   position: relative;
	  
	   left: -5px;

	}*/
	main_logo {
	display: block;
	float: none;
	text-align: center;
	padding-top: 10px;
}
	
}




