.canvas-btn {
	width: 40px;
	position: relative;
	float: right;
	z-index: 300;
}
.canvas-btn::after,
.canvas-btn > div,
.canvas-btn::before {
	content: '';
	width: 100%;
	display: block;
	height: 5px;
	background: #ffffff;
	border-radius: 50px;
	transition: 0.3s;
}
.canvas-btn.active::before {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);


}
.canvas-btn.active::after {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);

}
.canvas-btn.active > div {
	opacity: 0;

}

.canvas-btn::before { margin:8px 0 5px 0px; }
.canvas-btn::after { margin-bottom: 5px; }
.canvas-btn > div { margin-bottom: 5px; }

/*Layout*/
.canvas-layout {
	position: fixed;
	width: 100%;
	height: 100%;
	background:#666666;
	z-index: 200;
	transition: 0.3s;
	left: -100%;
	top: 0;
	padding: 50px;
 }
 .canvas-layout.open {
 	left: 0;
 }
