/*Content*/
/*
*Huge Title 15 l ;
*Huge Title-read-more 42 l;
*Second-content 63 l;
*Third Content 115 l;
*/
/*General*/
.page-content {
	
	font-family: 'Georgia Regular', monospace;

}

.no-margin{ 
	margin: 0;
 }

 /*Huge Title*/

.main-layout {
	min-height: 470px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	padding-top: 138px;
	position: relative;
	max-width: 100%;
    height: auto;
}

.main-layout h1{
	font-size: 3.5em;
	text-transform: uppercase;
	color: #666666;
}
.main-layout h1 {
	float: left;
}

.main-layout p {
	font-size: 1em;
	display: inline-block;
	color: #999999;
	padding-left:3px;
	padding-bottom: 29px;
	
}
 /*Huge Title-read-more*/
.read_more-main {
	background: #e2494b;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	min-width: 126px;
	min-height: 31px;
}
.element {
	max-height: 392px;
	max-width: 556px;
	margin-top: 40px;
	float: right;
	max-width: 100%;
    height: auto;
    position: absolute;
}
 /*Second-content*/
.second {
	padding-top: 58px;
	border-bottom: 1px solid #dadadc;

}
.second-title {
	font-size: 1.37em;
	text-transform: uppercase;
	text-align: center;	
}
.second-title+span {
	color: #4a4a4a;
}
.title_here {
	color: #e1484b;
}
.impression {
	padding-top: 20px;
	height:140px;
	width: 225px; 
	display: inline-block;
	max-width: 100%;
    height: auto;
}

.Vestibulumaccumsan {
	color: #999999;
	font-size: 0.81em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 23px;
}

.read_more_buttons_row .col-lg-3 button {
	background: #d54346;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	min-width: 106px;
	min-height: 32px;
}

.read_more_buttons_row .col-lg-3 {
	text-align: center;
}

.read_more_buttons_row {
	padding-bottom: 50px;
}
 /*Third Content*/
 .third {
    padding-top: 50px;
    padding-bottom: 50px;
}

.third-title{
    font-size: 1.37em;
	text-transform: uppercase;
	text-align: center;
}
.third-title span {
    color: #4a4a4a;
}
.third-title span+span {
    color:#e1484b;
}
.third-img {
	width: 225px;
	height: 225px;
	padding-top: 20px;
	display: inline-block;
	max-width: 100%;
    height: auto;

}
.lorem{
	padding-top: 20px;
	display: inline-block;
	font-size: 0.83em;
	color: #999999;
	padding-bottom: 18px;

}
.read_more-main-tree {
	margin-left:6px;
	background: #d54346;
	text-decoration: none;
	outline: none;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	min-width: 106px;
	min-height: 32px;
}
.grey {
	height: 15px;
	background:#999999 ;
}
        /*Tablet*/

@media only screen and (max-width: 768px) {
	.element {
	max-height: 392px;
	max-width: 556px;
	margin-top: 200px;
	float: right;
	max-width: 100%;
    height: auto;
    position: absolute;
}
.second-title {
	font-size: 1.37em;
	text-transform: uppercase;
	text-align: center;	
	max-width: 70%;

}
.impression {
	max-width: 70%;
    height: auto;
}
.Vestibulumaccumsan {
	padding-top: 20px;
	padding-bottom: 23px;
	max-width: 80%;
	display: inline-block;
	position: relative;
	left: 5px;

}
.read_more_buttons_row .col-lg-3 button {
	left: -15px;
	position: relative;
}


}

@media only screen and (max-width: 992px) {
	.element {
	max-height: 392px;
	max-width: 556px;
	margin-top: 140px;
	float: right;
	max-width: 100%;
    height: auto;
    position: absolute;
}
.second-title {
	font-size: 1.37em;
	text-transform: uppercase;
	text-align: center;	
	max-width: 70%;

}
.impression {
	max-width: 70%;
    height: auto;
}
.Vestibulumaccumsan {
	padding-top: 20px;
	padding-bottom: 23px;
	max-width: 80%;
	display: inline-block;
	position: relative;
	right: 10px;

}
.read_more_buttons_row .col-lg-3 button {
	right: 30px;
	position: relative;
}
	
}

@media only screen and (max-width: 1200px) {
	.element {
	max-height: 392px;
	max-width: 556px;
	margin-top: 140px;
	float: right;
	max-width: 100%;
    height: auto;
    position: absolute;
	
}

