/**Part-thirteen**/

footer {
	min-height: 490px;
	background: #212121;
}
.footer-content-one h3 {
	font-size: 1.375em;
	color: #eeeeee;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 77px;
}
.footer-content-one p {
	font-size: 0.875em;
	color: #999999;
	line-height: 1.5;
	padding-top: 37px;
}
.part-thirteen h4 {
	padding-top: 78px;
	padding-bottom: 35px;
	font-size:0.938em ;
	color: #eeeeee;
	text-transform: uppercase;
}
.form-control-email,
.form-control-subject {
	max-width: 200px;
	max-height: 20px;
	margin-top: 40px;
	background:#212121;
	border: none;
	outline: none;
}
.form-group {
	color: #999999;
	font-size: 0.875em;
	border-bottom: 1px solid #474747;
}
.form-control {
	max-height: 90px;
	min-width: 65px;
	background:#212121;
	border: none;
	outline: none;
	resize: none;
}
.send-button {
	text-decoration: none;
	background: none;
	outline: none;
	border: none;
	position: relative;
	right: 5px;

}

.footer-content ul li a:visited,
.footer-content ul li a:focus,
.footer-content ul li a:hover {

	text-decoration: none;
    outline: none; 
    color: #999999;

}
.footer-content ul li a:hover {
  color: white;
  transition: 0.3s;
}
.footer-content li p {
	font-size: 0.875em;
	padding-bottom: 15px;
}
.footer-content-bottom {
	font-size: 0.813em;
	color: #aaaaaa;
	padding-top: 34px;
}
.footer-content-bottom  a:visited,
.footer-content-bottom  a:focus,
.footer-content-bottom  a:hover {

	text-decoration: none;
    outline: none; 
    color: #999999;
}
.footer-content-bottom  a:hover {

    color: white;
    transition: 0.3s;
}
/**Mobile-menu**/
@media only screen and (max-width: 414px) {

.form-group-two label {
   position: relative;
   left: -100px;
	
}
}
@media only screen and (max-width: 768px) {
 footer {
	text-align: center;
	
}
.form-group-one {
   
}
.form-group-two  {
    border: none;
	
}
.form-group-two label {
   position: relative;
   right: 180px
	
}
.form-group-two textarea {
   
	
}
.send-button {
	position: relative;
	left: 4px;

}
}

@media only screen and (max-width: 992px) {
  footer {
	text-align: center;
	
}
.form-group-one {
   
}
.form-group-two  {
    border: none;
	
}
.form-group-two label {
   position: relative;
   right: 180px
	
}
.form-group-two textarea {
   
	
}
.send-button {
	position: relative;
	left: 4px;

}
}
@media only screen and (max-width: 1200px) {
  footer {
	text-align: center;
	
}
.form-group-one {
   
}
.form-group-two  {
    border: none;
	
}
.form-group-two label {
   position: relative;
   right: 180px
	
}
.form-group-two textarea {
   
	
}
.send-button {
	position: relative;
	left: 4px;

}
}