.top-layout {
	background-image: url('../img/temp.jpg');
	min-height: 1000px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
    text-align: center;	
    font-family: 'Source Sans Pro';   
    min-height: 1171px;
}

.top-container {
	
}
.main-container p {
	padding-top: 55px;
	padding-right: 1px;
}
.main-container p a{
	font-size: 1.125em;
	font-weight: 700;
	color: #212121;
	text-transform: uppercase;
}
.main-menu a{
	font-size: 1em;
	font-weight: 700;
	color: #212121;
	text-transform: uppercase;
}
.main-container p a:visited,
.main-container p a:focus,
.main-container p a:hover {
    text-decoration: none;
    outline: none; 
}
.main-menu a:visited,
.main-menu a:focus,
.main-menu a:hover {
    text-decoration: none;
    outline: none; 
}
.main-menu a:hover {
    color: #af8d5d;
    transition: 0.3s;
}
.main-menu {
	float: right;
	display: inline-block;
}
.main-menu li {
	float: left;
	padding-right: 22px;
	margin-top: 55px;
}
.clear::after {
	display: block;
	clear: both;
	content: '';
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #212121;
  margin-bottom: 4px;
  transition: 0.4s;
  position: relative;
  z-index: 400;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
  transform: rotate(45deg) translate(-5px, -4px);
}
.function {
	margin-top: 55px;
	display: inline-block;
	margin-left: -30px;
}
.container-fluid h1 {
	font-size: 4.500em;
	text-transform: uppercase;
	margin-top: 400px;
	text-align: right;
	font-weight: 900;
}
/*.container-fluid h1::after {
    content: '';
    display: block;
    width: 138px;
    height: 4px;
    background: #232323;
    text-align: right: ;
    margin-top: 25px;
}*/
.header-text {
	font-size: 1.125em;
	margin-top: 44px;
	color: #212121;
	line-height: 1.5;
	text-align: right;
}
.align-right {
	text-align: right;
}
.read-the-rest {
    background: none;
    outline: none;
    border: 2px solid #232323;
    font-size: 1.125em;
    width: 270px;
    height: 49px;
    color: #212121;
    margin-top: 60px;
    font-weight: 600;  
}
.read-the-rest:hover {
  background-color:#af8d5d;
  color: white;
  transition: 0.3s;
}

/**Mobile-menu**/
@media only screen and (max-width: 414px) {
	.container-fluid h1 {
	text-align: center;	
	font-size: 3em;
}
}
@media only screen and (max-width: 768px) {

.container-fluid h1 {
	text-align: center;	
	font-size: 3.500em;
}
.header-text {
	text-align: center;
}
.align-right {
	text-align: center;
}

}
@media only screen and (max-width: 992px) {

.container-fluid h1 {
	text-align: center;	
}
.header-text {
	text-align: center;
}
.align-right {
	text-align: center;
}
}
@media only screen and (max-width: 1200px) {
  
.container-fluid h1 {
	text-align: center;	
}
.header-text {
	text-align: center;
}
.align-right {
	text-align: center;
}
}
/**Layout**/
.canvas-layout {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #726960;
	z-index: 300;
	transition: 0.3s;
	left: -100%;
	top: 0;
}
.canvas-layout.open{
	left: 0;
}
.canvas-layout ul  {
    
	margin-top: 80px;
	margin-right: 210px;
}
.canvas-layout p {
	margin-top: 58px;
	display: inline-block;
}
.canvas-layout p a {
	font-size: 1.125em;
	font-weight: 700;
	color: #212121;
	text-transform: uppercase;
}
.canvas-layout p a:visited,
.canvas-layout p a:focus,
.canvas-layout p a:hover {
    text-decoration: none;
    outline: none; 
}