/**Part-four**/
.part-clients {
	min-height: 370px;
	background: #efefef;

}
.clients h3 {
    font-size: 1.688em;
    text-align: center;
    font-weight: 700;
    margin-top: 67px;
}
/**Slider**/
.clients img {
	padding-top: 70px;
	margin-left: 145px;
	padding-left: 85px;
}
/**Owl-Carousel-Custom**/
/**=.owl-dots {
	position: absolute;
	right: 15px;
	top: 150px;
	z-index: 2;

}**/
.slider .owl-dots button {
	width: 25px;
    height: 35px;
    outline: none;
}
/**Owl-arrows**/ 
.slider .owl-nav button {
	position: relative;
    font-size: 55px!important;
    font-weight: 700!important;
    width: 35px;
    bottom: 40px;
    display:inline-block;
    outline: none;
    text-decoration: none;
    border: none!important;
    background: none!important;
    color: #222222!important;
}
.slider .owl-nav button.owl-prev {
    position: absolute;
    left: -10px;
    display: none!important;
}
.slider .owl-nav button.owl-next {
   position: absolute;
   right: -5px;

}