/**Part-twelve**/
.part-tweets {
	min-height: 460px;
	text-align: center;
}
.part-tweets img {
	margin-top: 75px;
	display: inline-block;
}
.part-tweets p {
	font-size: 1.250em;
	color: #222222;
	font-weight: 500;
	line-height: 1.4;
	padding-top: 40px;
}
.part-tweets h6 {
	font-weight: 700;
	padding-top: 40px;
}