/**Part-five**/
.part-portfolio {
	min-height: 318px;
	text-align: center;
}
.portfolio {
	text-align: center;
	background: #ffffff;
}
.portfolio h4 {
	font-size: 1.688em;
	font-weight: 700;
	color: #212121;
	padding-top: 110px;
}
.portfolio p {
	color: #212121;
	padding-top: 50px;
	font-size: 1em;
	line-height: 1.6;
	margin-bottom:55px;
}
.part-portfolio::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 7px;
    background: #e64a19;
    margin-bottom: 32px;
}