/**Part-ten**/
.part-blogs {
	max-height: 538px;
	text-align: center;
	max-width:100%; 
    max-height:100%;
    margin: 0 auto;
}
.blog-date {
	font-size: 0.875em;
	margin-top: 195px;
}
.blog-title {
	font-size: 1.500em;
	color: #222222;
	font-weight: 600;
	margin-top: 20px;
}
.blog-content{
	font-size: 16px;
	padding-top: 52px;
	line-height: 1.46;
}
.blog img {
	padding-top: 110px;
	display: inline-block;
}
.blog-two img {
	margin-top: 55px;
}
.blog-date-two {
	margin-top: 130px;
}
.blog-three img {
    background: red;
    margin-top: 45px;
}
.blog-date-three {
	margin-top: 135px;
}