
/**Part-six**/
.part-design {
	max-height: 595px;
	margin-left: -30px;
}
.design-slider img {
  
  margin-top: 47px;
  margin-bottom: 66px;
  position: relative;
  overflow: hidden;

}
.part-design ul {
	text-align: center;
	padding: 0;
}
.clear::after {
	display: block;
	clear: both;
	content: '';
}
.part-design ul li {
	display: inline-block;
}
.part-design ul li a {
	color: #212121;
	padding-right: 28px;
}
.part-design ul a:visited,
.part-design ul a:focus,
.part-design ul a:hover {
    text-decoration: none;
    outline: none; 

}
.part-design ul a:hover {
    color: #af8d5d;
    transition: 0.3s;
    
}
.last {
	padding-right: 0!important;
}


/**Owl-Carousel-Design-Slider**/

.design-slider .owl-dots button {
	width: 25px;
	height: 35px;
	outline: none;
}
.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: red !important;
}