/**Part-two**/
.part-services {
	min-height: 375px;
	background: #efefef;
	max-width:100%; 
    max-height:100%;
    margin: 0 auto;
    text-align: center;

}
.part-services img {
	padding-bottom: 30px;

}

.services {
	margin-top: 80px;
}
.services span{
	font-size: 1.125em;
	font-weight: 600;
}
.services p+p {
	color: #212121;
	font-size: 1em;
	padding-top: 35px;
	
}
