/**Part-Eight**/
.part-team-members {
	min-height: 673px;
}
.members {
	text-align: center;
}
.members h5 {
	font-size: 1.688em;
	font-weight: 700;
	color: #212121;
	padding-top: 108px;
}
.members p {
	color: #212121;
	font-size: 1em;
	padding-top: 59px;
	line-height: 1.7;
}
.team-members {
	margin-top: 98px;
	margin-right: 170px;
	
}
.team-members img {
    display: inline-block;
}
.padding-top-50px {
	padding-top: 50px;
}