/**Part-Seven**/
.quotes {
	text-align: center;
	min-height: 310px;
	background: #212121;
	margin-top: 80px;
}
.quotes img {
	width: 14px;
	margin-top: 82px;
}
.quotes p {
	color: #e0e0e0;
	margin-top: 26px;
	line-height: 1.6;
	font-size: 1.250em;
}
.quotes p+p {
	margin-top: 46px;
	font-style: italic;
}