
/**Part-eleven**/
.part-next-posts{
	min-height: 220px;
	background: #efefef;
	margin-top: 100px;
	text-align: center;

}
.next-posts {
	margin-top: 75px;
	margin-bottom: 75px;
}
.part-next-posts p {
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.3;
	padding-top: 10px;
	padding-left: 20px;
	
}
.part-next-posts p+p {
	font-size: 0.875em;

}
.part-next-posts p  {
   border-left: 6px solid #212121;
   height: 30px;
}