/**Part-Nine**/
.page-content-overflow  {
	width: 100%;
	text-align: center;
	font-family: 'Source Sans Pro';
	max-width:100%; 
	max-height:100%;
	margin: 0 auto;

}
.nine {
	position: relative;
  text-align: center;
  background-image: url('../img/view.png');
	min-height: 690px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	box-sizing: border-box;
}
.nine::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#3e3e3e,#5b5b5b);
	opacity: .6; 
  }
  .nine::after {
  content: '';
	position: absolute;
	top: 160px;
	right: 350px;
	bottom: 160px;
	left: 350px;
	background-image: linear-gradient(to bottom right,#909090,#909090);
	opacity: .6; 
  }

.view { 
	display: inline-block;
	min-width: 1663px;
	position: relative;

}
/*.view-gradient {
	display: inline-block;
	min-width: 1663px;
	position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.view-gradient-two{
	max-width: 830px;
	display: inline-block;
	position: absolute;
    top: 220px;
    left: 390px;
}*/
.facts p {
  position: absolute;
  bottom: 630px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  font-size: 1.688em;
  font-weight: 700;


}
.summ-one {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}

.number {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 450px;
   left: 55%;

}
.number::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}

.summ-one p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 410px;
   left: 45%;
}
.summ-two {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}
.number-two {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 450px;
   left: 20%;
   box-sizing: border-box;
}
.number-two::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-two p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 410px;
   left: 13%;
}
.summ-three {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}
.number-three {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 330px;
   left: 55%;
   box-sizing: border-box;
}
.number-three::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-three p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 285px;
   left: 45%;
}

.summ-four {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}
.number-four {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 330px;
   left: 20%;
   box-sizing: border-box;
}
.number-four::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-four p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 285px;
   left: 11%;
}

/**Mobile-menu**/
@media only screen and (max-width: 768px) {
  .page-content-overflow  {

}
.nine {
  
}
.summ-one {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}

.number {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 450px;
   left: 55%;

}
.number::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}

.summ-one p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 410px;
   left: 35%;
}
.summ-two {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
   position: relative;
   left: -50px;
}
.number-two {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 450px;
   left: 20%;
   box-sizing: border-box;
}
.number-two::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-two p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 390px;
   
}
.summ-three {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
}
.number-three {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 330px;
   left: 55%;
   box-sizing: border-box;
}
.number-three::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-three p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 285px;
   left: 25%;
}

.summ-four {
   display: inline-block;
   text-align: center;
   margin: 0 auto;
   position: relative;
   left: -50px;
}
.number-four {
   font-size: 1.688em;
   color: #eeeeee;
   position: absolute;
   bottom: 330px;
   left: 20%;
   box-sizing: border-box;
}
.number-four::after {
    content: '';
    display: inline-block;
    width: 75px;
    height: 4px;
    background: #4d4c4b;
    margin-top: 20px;
    display: block;
}
.summ-four p+p{
   font-size:1.500em;
   color: #eeeeee;
   position: absolute;
   bottom: 250px;
   left: 11%;
}

.nine::after {
  display: none;
  }
}
@media only screen and (max-width: 992px) {
  .nine::after {
  display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .nine::after {
  display: none;
  }
}