/**Part-three**/
.part-featured_articles{
	max-height: 840px;
	background: #ffffff;
	max-width:100%; 
    max-height:100%;
    margin: 0 auto;
    width: 100%;

    
}
.featured_articles h3 {
	font-size: 1.688em;
	font-weight: 700;
	text-align: center;
	margin-top: 107px;
	color: #212121;
}
.featured_articles p {
	text-align: center;
	line-height: 1.6;
	font-size: 1em;
	color: #212121;
	padding-top: 49px;
}
.black_box {
	height: 370px;
	background: #222222;
	border-top: 1px solid #222222;
	margin-top: 107px;
	margin-bottom: 140px;
	display: block
}
.black_box:last-child {
}
.black_box_one::before {
    content: '';
    display: block;
    width: 75px;
    height: 7px;
    background: #e64a19;
    margin-left: 145px;
    margin-top: -1px;

}
.black_box_two::before {
    content: '';
    display: block;
    width: 75px;
    height: 7px;
    background: #e64a19;
    margin-left: 145px;
    margin-top: -1px;
   
}
.article-title {
	font-size: 0.875em;
	text-transform: uppercase;
	color: #d3d3d3;
	padding-top: 69px;
	padding-left: 39px;
}
.article-content {
	font-size: 1.500em;
	color: #eeeeee;
	text-align: left;
	padding-left: 35px;
	padding-top: 35px;
	line-height: 1.4;

}
.black_box_one img {
	padding-left: 39px;
	margin-top: 90px;
}
.article-content-autor  {
	font-size: 0.875em;
	text-transform: uppercase;
	color: #e0e0e0;
	float: right;
	margin-top: -40px;
	margin-right: 128px;
}

.article-content-two {
	font-size: 1.500em;
	color: #eeeeee;
	text-align: left;
	padding-top: 35px;
	padding-left: 39px;
	line-height: 1.4;
}
.black_box_two img {
	padding-left: 39px;
	margin-top: 62px;
}
.article-content-autor-two {
	font-size: 0.875em;
	text-transform: uppercase;
	color: #e0e0e0;
	float: right;
	margin-top: -40px;
	margin-right: 128px;

}
.black_box_three img {
	padding-left: 39px;
	margin-top: 95px;
}
.article-content-autor-three {
	font-size: 0.875em;
	text-transform: uppercase;
	color: #e0e0e0;
	float: right;
	margin-top: -40px;
	margin-right: 115px;
}
/**Mobile-menu**/
@media only screen and (max-width: 414px) {
  .part-featured_articles{
	width: 100%;
    text-align: center;      
}

.black_box {
	max-width: 70%;
	display: inline-block;
	
}
.black_box_one::before {
  
    margin-left: 100px;
   
}
.black_box_two::before {
 
    margin-left: 100px;
    
}
.article-title {

	padding-right: 25px;
}
.article-content {
	text-align: center;
	margin-right: 25px;
	padding-top: 20px;

}
.black_box_one img {
	margin-left: -20px;
	margin-top: 20px;
	
}
.article-content-autor  {
	margin-right: 20px;
}
.article-content-two {
	
	text-align: center;
	margin-right: 20px;
}
.black_box_two img {
	margin-left: -20px;
	margin-top: 20px;
	
}
.article-content-autor-two {
	margin-right: 20px;

}
.black_box_three img {
	margin-left: -20px;
	margin-top: 20px;
}
.article-content-autor-three {
	margin-right: 20px;
}
}

@media only screen and (max-width: 768px) {
  .part-featured_articles{
	width: 100%;
    text-align: center;      
}

.black_box {
	max-width: 70%;
	display: inline-block;
	
}
.black_box_one::before {
  
    margin-left: 100px;
   
}
.black_box_two::before {
 
    margin-left: 100px;
    
}
.article-title {

	padding-right: 25px;
}
.article-content {
	text-align: center;
	margin-right: 25px;
	padding-top: 35px;

}
.black_box_one img {
	margin-right: 190px;
	
}
.article-content-autor  {
	margin-right: 20px;
}
.article-content-two {
	
	text-align: center;
	margin-right: 39px;
}
.black_box_two img {
	margin-right: 190px;
	
}
.article-content-autor-two {
	margin-right: 20px;

}
.black_box_three img {
	
	margin-right: 190px;
}
.article-content-autor-three {
	margin-right: 20px;
}
}
@media only screen and (max-width: 992px) {
  .part-featured_articles{
	width: 100%;
    text-align: center;
    
    
}

.black_box {
	max-width: 70%;
	display: inline-block;
	
}
.black_box_one::before {
  
    margin-left: 100px;

}
.black_box_two::before {

    margin-left: 100px;
  
}
.article-title {

	padding-right: 25px;
}
.article-content {
	text-align: center;
	margin-right: 25px;
	padding-top: 35px;

}
.black_box_one img {
	margin-right: 190px;
	
}
.article-content-autor  {
	margin-right: 20px;
}
.article-content-two {
	
	text-align: center;
	margin-right: 39px;
}
.black_box_two img {
	margin-right: 190px;
	
}
.article-content-autor-two {
	margin-right: 20px;

}
.black_box_three img {
	
	margin-right: 190px;
}
.article-content-autor-three {
	margin-right: 20px;
}
}
@media only screen and (max-width: 1200px) {
  
}