/**Part-one**/
.who-and-why {
	min-height: 490px;
	background: #ffffff;
}
.who-and-why img {
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}
.who-and-why h2 {
	font-size: 1.688em;
	font-weight: 800;
	color: #212121;
	text-align: center;
	padding-top: 22px;
}
.who-and-why p {
	font-size: 1em;
	text-align: center;
	line-height: 1.7;
	font-family: 'Source Sans Pro';
	padding-top: 75px;
}