/**Best-movies**/
.best_movies {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}
.best_movies h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.250em;
  color: #303030;
  font-family: 'latobold';
  margin-bottom: 12px;
}
.best_movies h3 {
  text-transform: uppercase;
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
  font-family: 'Times New Roman','serif';
}

.best_movies img {
  height: 225px;
  width: 165px;
  margin-bottom: 15px;
  display: inline-block;
}

.best_movies h4 {
  text-transform: uppercase;
  font-weight: 500;
}
/*button*/
.watch_online{
    background: #28B8D2;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 0.75em;
    width: 110px;
    height: 30px;
    color:  #fff;
    font-weight: 600;
    margin-top: 10px;  
}
.watch_online:hover {
  background-color: #999999;
  transition: 0.3s;
}
/**Mobile-menu**/
@media only screen and (max-width: 414px) {
.margin_left {
  position: relative;
  margin-left: -40px;
}
}
@media only screen and (max-width: 768px) {
.margin_left {
  position: relative;
  left: 100px;
}
.best_movies {
  text-align: center;
 }
 .best_movies img {
  width: 100%;
 }
 .watch_online {
  margin-bottom: 10px;
 }

}
