@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/times_new_roman/TimesNewRomanPSMT.eot');
    src: url('../fonts/times_new_roman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/times_new_roman/TimesNewRomanPSMT.woff2') format('woff2'),
        url('../fonts/times_new_roman/TimesNewRomanPSMT.woff') format('woff'),
        url('../fonts/times_new_roman/TimesNewRomanPSMT.ttf') format('truetype'),
        url('../fonts/times_new_roman/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

