/**footer**/
footer p {
  color: #fff;
  font-size: 0.6em;
  margin-top: 15px;
}
/**Mobile-menu**/ 
@media only screen and (max-width: 414px) {
 footer p {
 	text-align: center;
 }
}

@media only screen and (max-width: 768px) {
 footer p {
 	text-align: center;
 }
}