* {
 	font-family: 'Roboto';
}
.container-fluid {
	max-width: 757px;
	font-family: 'Roboto';
}
.no_padding {
    padding: 0;
}
.no_margin {
	margin: 0;
}
.margin_20 {
	margin-top: 20px;
}
.margin_15 {
	margin-top: -15px;
}
.padding_left {
	padding-left: 10px;
}
/*Background*/
.background-color_grey{
	background: #2b2a28;
}
.background-color_white {
	background-color: #ffffff;
}
