.main-menu {
  float: right;
  margin-top: 15px;
  font-size: 0.85em;
}
.main-menu a {
  color: #fff;
  margin-left: 20px;
}
.main-menu a:visited,
.main-menu a:focus,
.main-menu a:hover {
    text-decoration: none;
    outline: none; 
}
.main-menu a:hover {
    color: #28B8D2;
    transition: 0.3s;
}
.dropbtn {
  font-size: 16px;
  padding-left: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background: #2b2a28;
  font-size: 1em;
}
.dropbtn:hover, .dropbtn:focus {
  color: #28B8D2;
  text-decoration: none;
  border: none;
  outline:none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 120px;
  background-color: #28B8D2;
  min-width: 130px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff ;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #000000;
}

/*.dropdown a:hover {background-color: #ddd;}*/
.show {
  display: block;
  margin-top: 10px;
  z-index: 100;
}
.arrow {
  display:inline-block;
  position: relative;
  border: none;
  outline: none;
  top: 10px;
  right: 21px;
}
/**Mobile-menu**/
@media only screen and (max-width: 414px) {
.main-menu {
  display: none;
}
}
@media only screen and (max-width: 768px) {
.main-menu {
  position: relative;
  left: 20px;
}
.main-menu a {
  text-align: center;
}
.dropdown-content a {
  margin: 0;
}
}
