/**Latest-movies**/
.latest_movies {
  margin-top: 50px;
  display: inline-block;
}
.latest_movies h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'latobold';
}
.latest_movies_headers {

}
.latest_movies_headers img {
  margin-top: 10px;
  height: 123px;
  width: 105px;
}
.latest_movies_headers p {
  margin-top: 10px;
}
.latest_movies_headers a {
  text-align: center;
  font-size: 0.7em;
  color: #000;
}
.latest_movies_headers a:visited,
.latest_movies_headers a:focus,
.latest_movies_headers a:hover {
    text-decoration: none;
    outline: none; 
}
.latest_movies_headers a:hover {
  color: #28B8D2;
}
/**comment-box**/
.dialogbox {
  margin-left: 45px;
}
.dialogbox .dialogbox_body {
  position: relative;
  max-width: 150px;
  height: auto;
  padding: 5px;
  background: #28B8D2;
  border-radius: 50px;
  border: none;
  font-size: 0.85em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #28B8D2;
}
.tip-down {
  bottom: -19px;
  left: 8px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
 .popular_films {
  background: #fafafa;
}
 .popular_films a {
  color: #1a1a1a;
  font-size: 1em;
}

.popular_films a:hover {
  color: #27b8d1;
}
.popular_films p {
  margin-top: 5px;
}
.dialogbox_two {
  margin-left: 45px;
  margin-top: 20px;
  position: relative;
  z-index: 1000;
}
.dialogbox_two .dialogbox_body_two {
  position: relative;
  max-width: 70px;
  height: auto;
  padding: 5px;
  background: #28B8D2;
  border-radius: 50px;
  border: none;
  font-size: 0.85em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.tip-two {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #28B8D2;
}
.tip-down-two {
  bottom: -19px;
  left: 8px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.dialogbox_three {
  margin-top: 50px;
}
.dialogbox_two p {
  font-size: 1.32em;
  font-weight: 500;
}
.dialogbox_two p+p {
  font-size: 0.875em;
  color: #999;
}
.dialogbox_two h6 {
  color:  #1a1a1a;
  font-size: 0.9em;
  margin-top: 5px;
}
.news {
  background: #fafafa;
}
.up {
  position: relative;
  top: -30px;
}

.page_select_button {
  background: none;
  width: 25px;
  height: 25px;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 0.7em;
}
.active, .page_select_button:hover {
  background-color: #28B8D2;
  color: white;
}
/**Mobile-menu**/ 
@media only screen and (max-width: 414px) {
 .latest_movies h2{
  text-align: center;
}
.latest_movies_headers {
  text-align: center;
}
}

@media only screen and (max-width: 768px) {
.latest_movies h2{
  text-align: center;
}
.latest_movies_headers {
  text-align: center;
}
}
