.page-content {
	padding-top: 10px;
}
.main-logo {
	margin-top: 30px;
  padding-bottom: 20px;
}
.main-logo h1 {
	text-transform: uppercase;
	color: #303030;
	font-size: 2.625em;
}
.main-logo h1::first-letter {
  color: #ffffff;
  background: #28B8D2;
  padding: 3px;
}
.search-container {
  float: right;
  position: relative;
  left: 30px;
}
.search-container input {
	width: 270px;
	height: 38px;
}
.search-container button {
  float: right;
  margin-top: 8px;
  right: 40px;
  font-size: 17px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: relative;
}

/**Mobile-menu**/
@media only screen and (max-width: 414px) {
  
.search-container input {
  width: 140px;
  position: relative;
  right: 0px;
  background: #28B8D2;
}
}

@media only screen and (max-width: 705px) {

.main-logo span { 
  position: relative;
  top: 10px;
}
.search-container input {
  position: relative;
  right: 15px;
  background: #28B8D2;  
}
.search-container i {
  display: none;
}
}






