    /**Movies**/
 .movies {
  margin-top: 20px;
  padding-right: 30px;
  text-align: center;
  color: white; 
  background: #28B8D2;
 }
 .movies img {
  height: 180px;
  width: 120%; 
  position: relative;
  display:inline-block;
}
.opacity {
  opacity: 0.7;
 }

.opacity:hover  {
  background:transparent;
  opacity: 1;
}
.center_heading {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.movies p+p {
  position: absolute;
  top: 70%;
  left: 58%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 
}
.movies a {
  color: #fff;
}
.movies a:visited,
.movies a:focus,
.movies a:hover {
    text-decoration: none;
    outline: none; 
}
/**Mobile-menu**/

@media only screen and (max-width: 768px) {
.movies {
  padding: 0;
 }
 .movies img {
  max-width: 100%;
 }
}

@media only screen and (max-width: 992px) {
 .movies {
  padding: 0;
 }
 .movies img {
  max-width: 100%;
 }
}

