 /*jssor slider loading skin spin css*/

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
from { 
       transform: rotate(0deg); 
}

to  {    
       transform: rotate(360deg); 
}
}

/*jssor slider arrow skin 106 css*/

.jssora106 {
    display:inline-block;
    position:absolute;
    cursor:pointer;      
}
.jssora106 .c {
    fill:#fff;
    opacity:.3;
}
.jssora106 .a {
    fill:none;
    stroke:#fff;
    stroke-width:850px;
    stroke-miterlimit:10;}


/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
    cursor:pointer;
    position: absolute;
    top:0;
    left:0;
    box-sizing:border-box;
    background:#000;}

        /**Loading Screen **/
#jssor_1 {
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px;
    height:480px;
    overflow:hidden;
    visibility:hidden;
}
.jssorl-009-spin {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}
.jssorl-009-spin img {
    margin-top:-19px;
    position:relative;
    top:50%;
    width:38px;
    height:38px;
}
.u-slides {
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:980px;
    height:380px;
    overflow:hidden;
}
/**Thumbnail Navigator **/
.jssort101 {
    position:absolute;
    left:0px;
    bottom:0px;
    width:980px;
    height:100px;
    background-color:#000;
}
.p {
    width:190px;
    height:90px;
}

/**Arrow Navigator**/
.arrowleft {
    width:25px;
    height:75px;
    top:162px;
    background: #a5a9ac;
    left: -1px;
}
.arrowleft svg {
    position:absolute;
    top:0;
    left:-10px;
    width:200%;
    height:100%;
}
.arrowright {
    width:25px;
    height:75px;
    top:162px;
    right:0px;
    background: #a5a9ac;
}
.arrowright svg {
    position:absolute;
    top:0;
    right:-10px;
    width:200%;
    height:100%;
}