.about-content {
  font-family: 'ZCOOL XiaoWei', serif !important;
  /**Background-full-screen-image**/
  background-image:url("../img/stark4.jpg");
  background-repeat: no-repeat, no-repeat;
  background-blend-mode:overlay;
  background-size: 100% 100%;
  width: 100%;
  min-height: 100%;
  margin-top: -41px;
}
.introduction {
	margin-top: 60px;
}
.introduction h1 {
	text-align: left;
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: 800;
}
.introduction p {
	font-size: 16px;
	font-weight: 500;
	color: white;
	text-align: center;
	text-align: justify;
	text-justify: inter-word;
}
.introduction h2 {
	color: white;
	font-weight: 800;
	font-size: 20px;
}