.forgot_password {
    font-family: 'ZCOOL XiaoWei', serif !important;
/**Background-full-screen-image**/
    background-image: url("../img/north.jpg");
    width:100%;
    height: 100%; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
.forgot_password h1 {
    color: white;
}
.control-group {
    margin-top: 20px;
    display: block;
    text-align: center;
    max-width: 480px;
}

.control-group a {
    background: none;
    padding-top: 10px;
}

.input-block {
    padding: 10px;
    min-width: 400px;
    max-height: 40px;
    background-color: black;
    position: relative;
    bottom: 5px;
    border: 1px solid grey !important;
}

.btn-response {
    font-size: 12px !important;
    border: 1px solid #3490dc !important;
    min-width: 200px;
    min-height: 40px;
}

.btn-response:visited,
.btn-response:focus,
.btn-response:hover {
    text-decoration: none;
}