html, body {
    /**Background-full-screen-image**/
    /**background-image: url("../img/stark.jpg");
    width:100%;
    height: 100%; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;**/
}
.container-fluid {
    max-width: 1700px;    
}