.register {
    font-family: 'ZCOOL XiaoWei', serif !important;
/**Background-full-screen-image**/
    background-image: url("../img/north.jpg");
    width:100%;
    height: 100%; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

/**Footer**/
.register-footer {
    min-height: 50px;
    background: #192e43;
    text-align: center;
}

.register-footer p {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}
.register-footer span {
    color: #82d6f0;
}
