html, body {
    /**Background-full-screen-image**/
    /**background-image: url("../img/stark.jpg");
    width:100%;
    height: 100%; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;**/
}
.container-fluid {
    max-width: 1700px;    
}
.top-layout  {
    font-family: 'ZCOOL XiaoWei', serif;
}
.top-layout video { 
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
 }
.main-container {
    background-color: #121316;
    opacity: 0.8;
    text-align: center;
    overflow: hidden;
    border-radius: 200px;
    z-index: 100;
 }
.main-container h1 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 5px; 
}
.main-container img {
    width: 50px;
    height: 50px;
    float: left;
}
.top-right {
    float: right;
    display: inline-block;
}
.links {
    margin-top: 15px;
}
.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links a:visited,
.links a:focus,
.links a:hover {
    text-decoration: none;
    outline: none;
    transition: 0.3s; 
}
.links a:hover {
    color: #819093;
}
/**Second-Navigation**/
.second-bar {
    margin-top: 5px !important;
    background-color: #7D8ACA;
    border-radius: 200px;
    margin: 0 auto;
    opacity: 0.9;
    max-width: 1250px !important;
}
.thrones-logo {

}
.thrones-logo img {
    
}
.second-navigation {
    position: relative;
    top: 10px;
    right: 40px;
}
.second-menu {
    float: right;
    position: relative;
}
.clear::after {
    display: block;
    clear: both;
    content: '';
}
.second-menu li {
    list-style:none;
    float: left;
}
.second-menu li a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.second-menu li a:visited,
.second-menu li a:focus,
.second-menu li a:hover {
    text-decoration: none;
    outline: none;
    transition: 0.3s; 
}
.second-menu li a:hover {
    color: #235F6B;
}
/**Mute=Video**/
#mute-video {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#mute-video:hover {
    color: #235F6B;
}
/**Dropdown**/
.dropbtn:hover, .dropbtn:focus {
  color: #235F6B;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7D8ACA;
  min-width: 190px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -10;
  text-align: center;
  margin-top: 10px;
  right: -25px;
  opacity: 0.9;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

/**Motto**/
.motto {
    position: relative;
    display: inline-block;
    margin-top: 300px;
}
.motto h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 0 25px;
    font-size: 53px;
    font-weight: 600;
    letter-spacing: .5rem;
    text-transform: uppercase;
    
}
/**King**/
.king {
    position: relative;
    left: 330px;
    margin-top: 30px;
}
.king img {
   display: inline-block;
   width: 300px;
   height: 300px;
   opacity: 0.8;
   border-radius: 20px;
}

.king p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.kings:hover img {
    border: 2px solid #BE961D;
   
}
.kings:hover P {
    color:#BE961D;
    font-weight: 800;
   
}
.king p+p {
    margin-top: 100px;
    font-size: 15px;
}
/**Latest-news**/
.latest-news {
    position: relative;
    right: 30px;
    text-align: center;
}
.latest-news p {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.latest-news button {
    font-size: 20px;
    background:none;
    opacity: 0.7;
    outline: none;
    color: white;
    border-radius: 10px;
}
.latest-news button:hover {
    background:#BE961D;
}

