.div11 {
	min-height: 640px;
	font-family: 'dosisregular';
		
}
.div11 h5 {
	font-size: 1.063em;
	color: #453f5d;
	font-weight: 600;
	padding-bottom: 30px;
	margin-top: 104px;
}
.div11 p{
	line-height: 1.8;
	color: #a099bc;
	font-size: 0.875em;
}
.div11 a:visited,
       a:focus,
       a:hover {
    text-decoration: none;
    outline: none; 
} 
.Company {
	padding-left: 30px;
}
.Marketing {
	padding-left: 40px;
}
.Info {
	padding-left: 25px;
}
.div11 h6 {
	padding-top: 106px;
	text-align: center;
	font-size: 1.875em;
	color: #383252;
	font-family: 'dosismedium';
}
.Get_in_Touch p {
	color:#a099bc;
	text-align: center;
	font-size: 1.063em;
	padding-top: 35px;
}
.Get_in_Touch button {
	float: right;
	margin-right: 190px;
	margin-top: 70px;
	background: #19ebe9;
    outline: none;
    border-top: 1px solid #bcebf3;
    border-bottom:-1px solid #bcebf3;
    border-left: -1px solid #bcebf3;
    border-right: 1px solid #bcebf3;
    box-shadow: 1px;
    font-size: 1.063em;
    width: 171px;
    height: 51px;
    color: #213f53;
    font-weight: 600;
    text-transform: uppercase;
}
.textarea_box {
	 resize: none;
	 width: 570px;
	 height: 51px;
	 margin-top: 70px;
	 margin-left: 170px;
	 border: none;
	 outline: none;
	 border: 1px solid grey;
	 border-radius: 4px;
}