.div10 {
	min-height: 737px;
	font-family: 'dosisregular';
	background: #f5f6fa;
	border-top: 1px solid #c7cad2;
}
.box_4 {
	margin-top: 96px;
	margin-left: 98px;
}
.box_5 {
	margin-top: 222px;
}
.box_5 span {
	font-size: 2.500em;
	color: #383252;
}
.box_5 p+p {
	color: #b1a8c7;
	font-size: 1.063em;
	line-height: 2;
	margin-top: 41px;
}

.box_5 img{
	margin-top: 64px;
	position: relative;
	right: 10px;
}
.PlayStore_btn {
	padding-right: 28px;
} 

.box_6 {
	text-align: center;
}
.Get_the_app_today_btn {
    background: #00fff0;
    border-top: 1px solid #aef9f7;
    border-bottom: -1px solid #aef9f7;
    border-right: -1px solid #aef9f7;
    border-left: 1px solid #aef9f7;
    box-shadow: 1px;
    font-size: 1.063em;
    width: 371px;
    height: 71px;
    color: #233148;
    margin-top: 63px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    
 }
 .box_5 button {
 	display: inline-block;
 	outline: none;
 	border: none;
 	background: none;
 }
