/*div 2*/
.services {
	background-color: #ffffff;
	margin-bottom: 120px;
}

.main-heading {
	margin-top: 125px;
	margin-bottom: 80px;
	text-align: center;
}

.main-heading:after {
	content: '';
	display: block;
	position: absolute;
	left:530px;
	bottom: 0;
	width: 100px;
	height: 4px;
	background-color: #19ebe9;
}
.main-heading h2{
	font-size: 2.250em;
	font-family: 'dosisregular';
}

.post {
	margin-top: 70px;
	box-shadow: 0px 1px 4px 0px rgba(128,123,128,0.2); 
}

.post-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.post-heading h3{
	text-align: center;
	margin-bottom: 25px;
	font-family: 'dosisregular';
	font-weight: 600;
}
.h3_fix_margin {
	margin-right: 12px;
}

.post-content p{
	margin-top: 0;
	text-align: center;
	color:#545B6B;
	font-family: 'dosisregular';
	font-size:0.938em;
	padding:10px 5px;
	line-height: 25px;
}

.post-content p {
		padding-bottom: 35px;
}

/*Div 3*/
.content {
	margin-left: 0;
	background-image: linear-gradient(
		to right,
		#323a4d,
      	#323a4d 50%,
      	#f5f6fa 50% );					);
}

.primary {
	background-color: #323a4d;
	margin-right: -15px;
	height: 530px;
}

.secondary {
	background-color: #f5f6fa;
	padding-left: 30px;
	height: 530px;
}
.cnt-post-header {
	margin-top: 145px;
}
.content-post h2 {
	padding-left: 100px;
	font-size: 1.875em;
	font-family: 'dosisregular';
	font-weight: 600;
	line-height: 40px;
}

.cnt-post-main {
	margin-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.cnt-post-main p {
	color:#545B6B;
	font-family: 'dosisregular';
	font-size:0.938em;
	line-height: 25px;
}