/**html,
body {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}**/

.div-4 {
	height: 500px;
	width: 100%;
}

.div-4-text {
	float: right;
	width: 100%;
	height: 282px
}

.div-4-text h1 {
	position: relative;
	top: 60px;
	text-align: right;
	font-size: 2em;
}

.div-4-text p {
	position: relative;
	top: 100px;
	line-height: 30px;
	text-align: right;
}

.div-4-text button {
	position: relative;
	top: 155px;
	float: right;
	height: 51px;
	width: 200px;
	border: none;
	border-radius: 6px;
	background: #00fff0;
	color: #213f53;
	font-size: 1.063em;
	padding-bottom: 5px;
	font-weight: 600;
}

.div-4-img {
	margin-top: 80px;
	border-radius: 10px;
	-webkit-box-shadow: -8px 23px 20px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: -8px 23px 20px -5px rgba(0,0,0,0.2);
	box-shadow: -8px 23px 20px -5px rgba(0,0,0,0.2);
	width: 530px;
}

.div-4-img img {
	    /* border-radius: 10px; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	width: 530px;
	height: 325px;
}



/* Div 5 */

.div-5 {
	position: relative;
	/*top: 94px;*/
	height: 630px;
	width: 100%;
}

.div-5-text {
	position: relative;
	top: 100px;
}

.div-5-img {
	position: absolute;
	top: 130px;
	z-index: 100;
}

.height-20 {
	margin: 20px;
	padding: 30px;
	height: 80px;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
}

.height-40 {
	margin: 20px;
	padding: 30px;
	height: 140px;
	background: #00fff0;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);
}

.height-40 span {
	padding-left: 20px;
	font-size: 1.2em;
	color: #1e4c5e;
	font-weight: 500;
	bottom: 15px;
	position: relative;
}
.height-20 span {
	padding-left: 45px;
	font-size: 1.2em;
}

.height-40 i {
	font-size: 1.5em;
}

.height-20 i {
	font-size: 1.5em;
}
.height-20_img {
	display: inline-block;

}
.height-20_span {
	position: relative;
	bottom: 5px;
}

.height-40 p {
	bottom: 5px;
	line-height: 30px;
	padding-left: 45px;
	color: #1e4c5e;
	font-weight: 600;
	position: relative;

}
.height-40_img {
	top:-2px;
	left:2px; 
	position:relative;
	display:inline-block;
}
