
/* cosntructor*/

.everything-you-need {
	height: 528px;	
}
.text-container {
	width: 468px;
	height: 287px;
	margin-top: 146px;
	text-align: right;	
	
}
.text-container > p {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.875em;
	color: #000000;
	font-weight: 500;	
}
div .tic {
	width: 19px;
	height: 19px;
	border-radius: 40px;
	background-color: #00fff0;
	border: 1px #a9e6f0; 
	display: inline-block;
	position: relative;
	top: 4px;
}
.tic_img {
	position: relative;
	right: 4px;
}
div .android {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.0625em;
	margin:44px 0 27px;
	color: #000000;	
	margin-right: 30px;
}
div .android span {
    position: relative;
	top: 3px;
}
div .iphone {
	font-family: 'dosisregular', sans-serif;
	font-size: 1.0625em;
	margin-bottom: 48px;
	position: relative;
	right: 5px;	
	color: #000000;	
	margin-right: 30px;
}
div .iphone span {
    position: relative;
	top: 3px;
} 
div .text-place p {
	font-family: 'dosisregular', sans-serif;
	font-size: 0.875em;
	text-align: right;
	line-height: 23px;
	word-spacing: 4px;
}


/*Imges*/

div .image {
	width: 541px;	
	height: 528px;
	display: inline-block;	
	margin: 0 0 0 110px;
}
div .left-img {
	width: 182px;
	height: 322px;
	background-color: #fff;
	margin-top: 211px;
	display: inline-block;
	box-shadow: 4px 6.928px 20px rgba(35,39,51,0.5);
}
div .right-img {
	width: 184px;
	height: 325px;
	background-color: #fff;
	display: inline-block; 
	position: relative;
	top: 22px;
	left: 140px;
	box-shadow: 4px 6.928px 20px rgba(35,39,51,0.5);
}
div .mid-img {
	width: 260px;
	height: 460px;
	background-color:#2c3233;
	display: inline-block; 
	box-shadow: 4px 6.928px 20px rgba(35,39,51,0.5);
	position: absolute;
	top: 71px;
	right: 163px;	
}