.container-fluid {
	max-width: 1171px;
	margin: 0 auto;
	font-family: 'dosisregular';
}
.div7{
	background: #223047;
	max-height: 681px;
	border-bottom: 1px solid #7c8492;
	z-index:1000;
	position: relative;
}
.box_1 h1 {
	font-size: 1.063em;
	margin-top: 32px;
    
}
.box_1 p {
	line-height: 1.8;
	padding-top: 52px;
	font-size: 0.875em;
}
.videos {
	text-align: center;
	color: #ffffff;
	margin-top: 206px;
	margin-bottom: 231px;

}
div.div7 .container-fluid button {
	background-color: #223047;
	border: none;
	outline: none;
}	
.div8{
	background: #ffffff;
	text-align: center;
	min-height: 647px;
}
.box_2 {
	margin-top: 253px;
}
.div8 h1 {
	font-family: 'dosismedium';
	font-size: 1.875em;
	font-weight: 500;
	margin-bottom: 41px;
}
.div8 p{
	font-size: 1.063em;
	color: #000000;
}
.Download_btn {
    background: #00fff0;
    outline: none;
    border: none;
    border-top: 1px solid #66fcf5;
    border-bottom: 1px solid #66fcf5;
    box-shadow: 1px;
    font-size: 1.063em;
    width: 170px;
    height: 51px;
    color: #233148;
    position: relative;
    margin-top: 70px;
    font-weight: 600;
    text-transform: uppercase;
 }
.div9{
	background: #223047;
	min-height: 350px;
	
}
.div9 p {
	margin-top: 134px;
	color: #05e3da;
	text-align: center;
	line-height: 22.5px;
}




	

