@import url('font-awesome.css');


@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/Dosis/dosis-bold-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextrabold';
    src: url('../fonts/Dosis/dosis-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextralight';
    src: url('../fonts/Dosis/dosis-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosislight';
    src: url('../fonts/Dosis/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/Dosis/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/Dosis/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosissemibold';
    src: url('../fonts/Dosis/dosis-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Dosis/dosis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

