footer {
	min-height: 100px;
	background: #223047;
}
.Copyright {
	padding-top: 35px;
	font-size: 1.063em;
	color: #00fff1;
}
.Copyright p {
	padding-left: 25px;
}

.Copyright a {
	padding-right: 45px;
}
.Copyright a:last-child{
	padding: 0;
	margin: 0;
}
.icons {
left: 150px;
position: relative;
}
