/**General**/
*{
  font-family: 'dosisregular';
}
.no_margin {
	margin: 0;
}
.container-fluid {
	max-width: 1171px;
	margin: 0 auto;
	font-family: 'dosisregular';
}
/**For-Header**/
.margin-top {
	margin-top:15px;
}
.clear_float::after {
	content: '';
	clear: both;
	display: block;
}
/* Colors-for-div-6*/

.tx-c_bl-d {
	color: #f5f6fa;
}
.tx-c_bl-h {
	color: #a099bc;
}
.tx-c_bk {
	color: #000;
}



/* Backgrounds-for-div-6*/

.bg-c_bl-d {
	background-color: #f5f6fa;
}
.bg-c_bl-h {
	background-color: #a099bc;
}
.bg-c_bk	 {
	background-color: #000;
}


/*Mobile an Responsive*/

@media only screen and (max-width: 1200px){
    
    .main-heading::after {
        display: none;
    }
    /**Div-5**/
    .div-5 {
        margin: 20px 0 20px 0;
    }     
        
    .box_4 {
        position: relative;
        text-align: center;
    }
}

@media only screen and (max-width: 992px){
    
    .main-heading::after {
        display: none;
    }

    .function {
        float: right;
    }

    .box_5 {
        text-align: center;
        margin-top: 100px;
    }

    
}

@media only screen and (max-width: 768px){

    /**Main-menu**/
    .function {
        float: right;
        position: relative;
        top: -15px;
    }
    .part-one h1 {
        padding-top: 30px;
    }
    /**Page-content**/
    section .page-content {
    	text-align: center;
    	padding-left: 0;
    	padding-top: 10px;
    }
    .main-layout {
        margin-left: -50px;
    }
    /**Div-2**/
    div  .primary {
       height: 400px;
    }

    .main-heading::after {
        display: none;
    }

    .cnt-post-main {
        padding: 5px;
    }

    .cnt-post-header {
        margin-top: 40px;
    }
    /**Div-4**/
    .div-4-text h1 {
        text-align: center;
    }

    .div-4-text p {
        text-align: center;
        padding: 15px;
    }
    .div-4-text button {
        position: relative;
        right: 90px;
    }


    /**Div-5**/

    .div-5 p {
        line-height: 15px;
    }
    
    .div-5 {
        padding-top: 20px;
    }

    .text-container {
        text-align: center;
        padding: 10px;
        position: relative;
        right: 25px;

    }
    div .text-place p {
        max-width: 90%;
        text-align: center;
    }

    .tic_img {
        position: relative;
        left: 2px;
    }
    /**Div-10**/
    
    /**Div-11**/
    
    .Company {
        margin-left: -30px;
    }
    .Development {
        margin-left: -30px;
    }
    .Marketing {
        margin-left: -40px;
    }
    .Community {
        margin-left: -25px;
    }
    .Info {
        margin-left: -30px;
    }
    /**Footer**/
   
 
    .textarea_box {
        margin-left: 0;
        width: 550px;
        
    }
    
}

/*Layout*/

.canvas-layout {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #223047;
    z-index: 200;
    transition: 0.3s;
    left: -100%;
    top: 0;
}

.canvas-layout.open {
    left: 0;
}

#canvas-trigger {
    z-index: 300;
}

.canvas-layout .main-nav li{
	float: none;
	height: 40px;
	padding: 40px 50px 0 50px;

}

.canvas-layout .main-nav li a{
	padding: 10px 0 0 0;
}
