.top-layout {
    background: #223047;
    font-family: 'dosisregular';
    max-height: 69px;
    border-bottom: 1px solid #4e596c;
}
/**Main-Logo**/
.main_logo {
    bottom: -18px;
    display: inline-block;
    position: relative;
}
.main_logo a {
    color: #00fff1;
    font-size: 2.186em;
}
.main_logo a:visited,
.main_logo a:focus,
.main_logo a:hover {
    text-decoration: none;
    outline: none; 
}
.reserved_img {
    height: 10px;
    width: 10px;
    margin-bottom: 12px;
    margin-left:-3px;
}

/**Main-Menu**/
header .main_menu {
    float:left;
    font-size: 0.875em;
    margin-top: 29px;
    margin-bottom:33px;
    position: relative;
}
header .main_menu li  {
    float: left;
}
header .main_menu li a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}
header .main_menu li a span:hover {
        color: #00fff1;
        transition: 0.3s;
}
.max-heigh-76 {
    max-height: 76px !important;
}
.function {
    margin-top:17px;
    margin-left: 10px;
}
/**Home-Arrow-down**/
i {
  border: solid white;
  border-width: 0 0.1px 0.1px 0;
  opacity: 0.7;
  display: inline-block;
  padding: 3px;
  width: 6px;
  height: 5px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/**Home-Arrow-down-end**/
.Features {
    padding-left: 35px;
    padding-right: 30px;
}
.Get_app {
    background: #00fff0;
    outline: none;
    border: #1c5565;
    box-shadow: 1px;
    border-radius: 5px;
    font-size: 0.875em;
    width: 137px;
    height: 39px;
    color: #233148;
    position: relative;
    left: 5px;
    /* font-family: 'dosisregular'; */
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #feebf7;
    margin: 8px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

