/**Header**/
.part-one {
	background: #223047;
	font-family: 'dosismedium';
	max-height: 630px;
}
.part-one h1 {
	color: #ffffff;
	font-size: 2.438em;
	padding-bottom: 59px;
	padding-top:202px;
}
.part-one h1+p {
	color: #97a4be;
	line-height:1.9;
	font-size: 0.875em;
    position: relative;
    right: 9px;
}
.main-layout {
	position: relative;
	left: 80px;
 }
 .main-article {
    width: 90%;
 }
/**Buttons**/
.Download {
	background: #00fff0;
    outline: none;
    border: none;
    padding: 1px;
    box-shadow: 1px;
    border-radius: 6px;
    font-size: 0.875em;
    width: 169px;
    height: 40px;
    color: #233148;
    font-family: 'dosisregular';
    margin-right: 26px;
    margin-top: 62px;
    position: relative;
    right: 9px;
    font-weight: 600;
}
.Reach {
	background: #223047;
    outline: none;
    border: 1px solid #ffffff;
    padding: 1px;
    box-shadow: 1px;
    border-radius: 6px;
    font-size: 0.875em;
    width: 144px;
    height: 40px;
    color: #ffffff;
    font-family: 'dosisregular';
    position: relative;
    right: 9px;
}
/**Buttons-end**/
 .Smartphone {
 	position: relative;
 	margin-top: 132px;
 	left: 290px;
 }
 

