/**Best-Quotes**/
/**Owl-Carousel-Design-Slider**/
.design-slider .owl-dots button {
    width: 25px;
    height: 35px;
    outline: none;
}
.owl-carousel .active span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #BE961D !important;
}
/**Best-Quotes**/
.best_quotes {
    position: relative;
    background: rgba(34,34,34,0.9);
    border-top: 40px solid #201717;
    border-bottom: 40px solid #201717;
    text-align: center;

}
.best_quotes h2 { 
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 10px 0 12px;
    background: #BEB2B2;
}

.best_quotes span:first-of-type {
    background: white;
    border-radius: 8px 8px 0px 0;
}
.best_quotes span:nth-of-type(2) {
    background: gray;
    border-radius: 10px 0 7px;
}

.design-slider {
   overflow: auto;
   cursor: pointer;
}
.owl-item-active {
  background: green;
}
.design-slider img {
   display:block;
   height: 50%;
   max-width: 50%;
   border-radius: 10px;
}

.design-slider::after {
  content: "";
  clear: both;
  display: table;
}

.design-slider p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: white;
  top:190px;
}
