/*** contact-section***/
.contact-section{
  background: #2d2d2d;
  padding: 7em 0;
}

.contact-leftgrid h3 {
  font-size: 2.5em;
  color: #fefefe;

}
.contact-leftgrid span {
  color: #201717;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: capitalize;
}
.contact-leftgrid p {
  font-size: 1.3em;
  color: #fff;
  line-height: 1.8em;
  margin-bottom: 2.2em;
}

.contact-leftgrid  input[type="text"]{
  width: 100%;
  padding: 15px 24px;
  border: 1px solid #969696;
  font-size: 1.3em;
  margin-bottom: 1.2em;
  color: #aaaaaa;
  outline: none;
  background: #545454;
  font-weight: 500;
  margin-left: 0;
}
.contact-leftgrid  textarea {
    height: 200px;
    resize: none;
    width: 100%;
    width: 100%;
    padding: 15px 24px;
    border: 1px solid #969696;
    font-size: 1.3em;
    margin-bottom: 1.2em;
    color: #aaaaaa;
    outline: none;
    background:#545454;
    font-weight: 500;
}

.contact-leftgrid input[type="submit"] {
    background: #545454;
    padding: 11px 1.7em;
    border: 1px solid #fac832;
    font-size: 1.8em;
    margin: 0.5em 0 0 0;
    color: #fff;
    outline: none;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-details input[type="submit"]:hover {
  color: #fff;
  background: #44b2c1;
}
.contact-leftgrid {
  padding: 0 8em 0 11em;
}
.contact-rightgrid {
  padding: 0 !important;
}
.google-map {
  border: 14px solid #201717;
}
.google-map img {
   display:inline-block;
   width: 100%;
   height: 70%;
}
.google-map iframe {
  width: 100%;
  min-height: 555px;
}