/**Footer**/
.home-footer {
    min-height: 50px;
    background: #201717;
    text-align: center;
}

.home-footer p {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}
.home-footer span {
    color: #BE961D;
}

.raven {
    max-height: 100px;
    max-width: 100px;
    border-radius: 200px;
}