/**Kings**/
.king {
    position: relative;
    left: 330px;
    margin-top: 30px;
}
.king img {
   display: inline-block;
   width: 300px;
   height: 300px;
   opacity: 0.9;
   border-radius: 20px;
}

.king p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #ADC4F9;
}

.king span {
   
}
.kings:hover img {
    border: 2px solid #ADC4F9;
   
}
.kings:hover P {
    color:white;
   
}
.king p+p {
    margin-top: 100px;
    font-size: 15px;
}