/**Latest-news**/
.latest-news {
    position: relative;
    right: 30px;
    text-align: center;
}
.latest-news p {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.latest-news button {
    font-size: 20px;
    background:none;
    opacity: 0.7;
    outline: none;
    color: white;
    border-radius: 10px;
}
.latest-news button:hover {
    background:#BE961D;
}