/**Main-container**/
.top-layout  {
    font-family: 'ZCOOL XiaoWei', serif;
    /**position: relative;**/
    background-color: #121316;
}
.top-layout video { 
    position: absolute;
    top: 50px; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
 }
.main-container {
    background-color: #121316;
    text-align: center;
    overflow: hidden;
    border-radius: 200px;
    z-index: 100 !important;
 }
.main-container h1 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 5px; 
}
.main-container img {
    width: 50px;
    height: 50px;
    float: left;
}
/**Nav**/
.top-right {
    float: right;
    display: inline-block;
}
.links {
    margin-top: 15px;
}
.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links a:visited,
.links a:focus,
.links a:hover {
    text-decoration: none;
    outline: none;
    transition: 0.3s; 
}
.links a:hover {
    color: #819093;
}

.top-right h1 {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


