/**Motto**/
.motto {
    position: relative;
    display: inline-block;
    margin-top: 300px;
}
.motto h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 0 25px;
    font-size: 53px;
    font-weight: 600;
    letter-spacing: .5rem;
    text-transform: uppercase;
    
}