/**News**/
.page-content {
    font-family: 'ZCOOL XiaoWei', serif;
}    
.no_padding {
    padding: 0 !important;
}
.news {
    border-bottom: 5px solid #2d2d2d;
    height: 600px;
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    background-image: url("../../img/wolf.jpg"), url("../../img/stark.jpg");
    background-blend-mode:multiply;
}    

.news p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: 700;
    opacity: 0.9;
}

.news p:nth-of-type(2) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
}

.news button {
    position: absolute;
    top: 85%;
    left: 80%;
    font-size: 20px;
    background:none;
    outline: none;
    color: white;
    border-radius: 10px;
    opacity: 0.7;
    background: #5d5d67;
}
.news button:hover {
    opacity: 1;
    transition: 0.3s;
}

