/**News_one**/
.news_one {
    border-bottom: 5px solid #2d2d2d;
    height: 600px;
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    background-image: url("../../img/night-king2.jpg");
}    

.news_one p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: 700;
    opacity: 0.9;
}

.news_one p:nth-of-type(2) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
}

.news_one button {
    position: absolute;
    top: 85%;
    left: 80%;
    font-size: 20px;
    background:none;
    outline: none;
    color: white;
    border-radius: 10px;
    opacity: 0.7;
    background: #5d5d67;
}
.news_one button:hover {
    opacity: 1;
    transition: 0.3s;
}
