/**Second-Navigation**/
.second-bar {
    background-color: #7D8ACA;
    border-radius: 200px;
    margin: 0 auto;
    opacity: 0.9;
    max-width: 1250px !important;
    z-index: 100;
}
.thrones-logo {

}
.thrones-logo img {
    
}
.second-navigation {
    position: relative;
    top: 10px;
    right: 35px;
}
.second-menu {
    float: right;
    position: relative;
}
.clear::after {
    display: block;
    clear: both;
    content: '';
}
.second-menu li {
    list-style:none;
    float: left;
}
.second-menu li a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.second-menu li a:visited,
.second-menu li a:focus,
.second-menu li a:hover {
    text-decoration: none;
    outline: none;
    transition: 0.3s; 
}
.second-menu li a:hover {
    color: #235F6B;
}
/**Mute-Video**/
#mute-video {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#mute-video:hover {
    color: #235F6B;
}
/**Dropdown-Charecters**/
.dropbtn:hover, .dropbtn:focus {
  color: #235F6B;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
    background: none;
    outline: none;
    border: none;
    color: white;
    padding: 0px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7D8ACA;
  min-width: 190px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -10;
  text-align: center;
  margin-top: 10px;
  right: -25px;
  opacity: 0.9;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
/**Dropdown-About**/
.aboutDropbtn {
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutDropbtn:hover, .aboutDropbtn:focus {
  color: #235F6B;
}

.about_content {
  display: none;
  position: absolute;
  background-color: #7D8ACA;
  min-width: 190px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -10;
  text-align: center;
  margin-top: 10px;
  right: -25px;
  opacity: 0.9;
}

.about_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.about_content a:hover {
    background-color: #ddd;
}
.show_about {
    display: block;
}