/**vs Fray**/
.stark_fray{
    border: 5px solid #BEB2B2;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    background-image: url("../../img/catelyn.jpg"), url("../../img/frey.jpeg");
    background-blend-mode:screen;
    border-radius: 10px;  
    display: block;
}        

.stark_fray p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    font-weight: 800;
    opacity: 0.9;
    text-transform: uppercase;
}
.stark_fray:hover  {
    border: 2px solid #BE961D;
    transition: 0.3s;
   
}
.stark_fray:hover P {
    color:#BE961D;
   
}