@import url('font-awesome.css');
/**Font-Georgia**/
@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-BoldItalic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-BoldItalic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-Italic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Seriffic Grunge';
    src: url('SerifficGrunge-Bold.woff2') format('woff2'),
        url('SerifficGrunge-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-Bold.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-Bold.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-BoldItalic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-Italic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url(../fonts/georgia/'Georgia-Italic.woff2') format('woff2'),
        url(../fonts/georgia/'Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/**Font-Montsserat**/

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-SemiBold.eot');
    src: url(../fonts/montsserat/'Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-SemiBold.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-SemiBold.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Bold.eot');
    src: url(../fonts/montsserat/'Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Bold.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Bold.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-ExtraLight.eot');
    src: url(../fonts/montsserat/'Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-ExtraLight.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-ExtraLight.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-BlackItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-BlackItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-BlackItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-ExtraBold.eot');
    src: url(../fonts/montsserat/'Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-ExtraBold.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-ExtraBold.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-LightItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-LightItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-LightItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Black.eot');
    src: url(../fonts/montsserat/'Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Black.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Black.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Light.eot');
    src: url(../fonts/montsserat/'Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Light.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Light.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-SemiBoldItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-SemiBoldItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Italic.eot');
    src: url(../fonts/montsserat/'Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Italic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Italic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Thin.eot');
    src: url(../fonts/montsserat/'Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Thin.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Thin.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-ExtraBoldItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-ExtraBoldItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-ThinItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-ThinItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-ThinItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-BoldItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-BoldItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-BoldItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-ExtraLightItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-ExtraLightItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Regular.eot');
    src: url(../fonts/montsserat/'Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Regular.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Regular.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-MediumItalic.eot');
    src: url(../fonts/montsserat/'Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-MediumItalic.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-MediumItalic.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montsserat/'Montserrat-Medium.eot');
    src: url(../fonts/montsserat/'Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url(../fonts/montsserat/'Montserrat-Medium.woff2') format('woff2'),
        url(../fonts/montsserat/'Montserrat-Medium.woff') format('woff'),
        url(../fonts/montsserat/'Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


