.top-layout {
  font-family: 'Georgia'; 
  position: relative;
  background: #fafafc;
  max-height: 85px;
}

.main-menu {
	float: right;
	display: inline-block;
 } 

.main-menu a {
	font-size: 1.875em;
	font-weight: 400;
	color: #2c2c2c;
}

.main-menu li {
	float: left;
	margin-right: 52px;
	margin-top: 54px;
}

.main-menu a:visited,
.main-menu a:focus,
.main-menu a:hover {
  text-decoration: none;
  outline: none; 
}

.main-menu a:hover {
  color: #c3a87b;
  transition: 0.3s;
}

.clear::after {
	display: block;
	clear: both;
	content: '';
}

.logo img {
	position: relative;
	height: 85px;
	width: 97px;
  z-index: 100;
  right: 15px;
}

/**Button X **/
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #212121;
  margin-bottom: 4px;
  transition: 0.4s;
  position: relative;
  z-index: 400;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
  transform: rotate(45deg) translate(-5px, -4px);
}

.function {
  position: relative;
  left: 550px;
  top:50px;
  display: inline-block;
}

/**Layout**/
.canvas-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ebe8e5;
  z-index: 300;
  transition: 0.3s;
  left: -100%;
  top: 0;
}

.canvas-layout.open{
  left: 0;
}

.canvas-layout ul  {
    
  margin-top: 80px;
  margin-right: 300px;
  margin-left: 190px;
}

/**Mobile-menu**/
@media only screen and (max-width: 414px) {
.main-menu { 
  margin-left: 50px;
 } 

}

@media only screen and (min-width: 600px) {
  .main-menu {
  margin-left: 50px;
 } 

}


