.project {
	background: white;
	position: relative;
	top:-700px; 
}

.project h4 {
	font-size: 1.500em;
	margin-top: 250px;
	margin-left: 130px;
	font-family: 'Georgia'!important;
	font-weight: 600;
}

.project h4::after {
  content:"";
  position: absolute;
  bottom: 100px;
  left: 145px;
  right: 660px;
  height: 0.5em;
  border-top: 2px solid black;
}

.project h5 {
	font-family: 'Montserrat';
	font-size: 1.500em;
	margin-left: 130px;
	margin-top: 75px;
}

.stairs {
	margin-top: 190px;
	
}

.stairs img {
   display: inline-block;
   max-height: 650px;
   max-width: 700px;
   position: relative;
   left: 48px;
}

.panels {
	position: relative;
	bottom: 300px;
}

.panels img {
   display: inline-block;
   max-height: 650px;
   max-width: 700px;
   position: relative;
   left: 90px;
}

.illusion {
   margin-top: 100px;
}

.illusion img {
   display: inline-block;
   max-height: 650px;
   max-width: 700px;
   position: relative;
   left: 48px;
}

.illusion_one {
	position: relative;
	bottom:300px;
}

.illusion_one img {
   display: inline-block;
   max-height: 650px;
   max-width: 700px;
   position: relative;
   left: 90px;
}

.illusion_one p {
	font-family: 'Georgia'; 
	font-size: 1.875em;
	position: relative;
	display: inline-block;
	top: 400px;
	left: 50px;
}

.illusion_one a {
	position: relative;
	top: 500px;
	right: 230px;
	color:#2c2c2c;
}

.illusion_one a:nth-child(3) {
	margin-left: 380px;
}

.illusion_one a:visited,
.illusion_one a:focus,
.illusion_one a:hover {
  text-decoration: none;
  outline: none; 
}

.illusion_one a:hover {
  color: #c3a87b;
  transition: 0.3s;
}

