/**Slider**/

.slider {
	padding:0px;
	margin:0px;
	background-color:#fff;
  max-height: 1068px;
  z-index: 2;
    
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  }

  @keyframes jssorl-009-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

  }

  /*jssor slider bullet skin 031 css*/

 .jssorb031 {position:absolute;}
 .jssorb031 .i {position:absolute;cursor:pointer;}
 .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
 .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
 .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
 .jssorb031 .i.idn {opacity:.3;}

#jssor_1 {
	position:relative;
	margin:0 auto;
	top:0px;
	left:0px;
	width:980px;
	overflow:hidden;
	visibility:hidden;
	font-family: 'Georgia';
	font-weight: lighter;
  font-style: italic;
  color: white;
  font-size: 2.7em;

}

.jssorl-009-spin {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	background-color:rgba(0,0,0,0.7);
}   

.jssorl-009-spin img {
	margin-top:-19px;
	position:relative;
	top:50%;
	width:38px;
	height:38px;
}

.data_style{
  cursor:default;
  position:relative;
  top:0px;
  left:0px;
  width:980px;
  height:500px;
  overflow:hidden;

}

.centered_text {
	position: relative;
  text-align: center;
  margin-top:10px;
}

.centered {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered::after {
  content:"";
  position: absolute;
  bottom: -45px;
  left: 75px;
  right: 75px;
  height: 0.5em;
  border-top: 2px solid white;
}

.centered_text::after {
  content: '';
  position: absolute;
  top: 175px;
  right: 230px;
  bottom: 165px;
  left: 235px;
  background-image: linear-gradient(to bottom right,#0c0c0b,#0c0c0b);
  opacity: 0.8; 
  }

.data_style_one{
	position:absolute;
	top:57px;
	left:92px;
	width:400px;
	height:250px;
	font-size:16px;
	color:#ffffff;
	line-height:1.88;
	text-align:left;
	padding:10px 10px 10px 10px;
	box-sizing:border-box;
	background-color:rgba(255,188,5,0.8);
	background-clip:padding-box;
}

/** Bullet Navigator **/

.jssorb031 {
	position:absolute;
	bottom:12px;
	right:12px;
}
 .i{
 	width:12px;
 	height:12px;
 }

 .i svg {
 	position:absolute;
 	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 }

 /**Arrow Navigator**/

.arrowdown {
  display: inline-block; 
}

.arrowdown img {
  position: relative;
  right: 534px;
  max-height: 25px;
  max-width: 35px;
}