.studio {
	background: black;	
}

.studio img {
	width: 832px;
	position: relative;
	right: 15px;
	bottom: 460px;
	z-index: ;
	padding-bottom: 0;
}

.studio-text {
	color: #e7e4e0;
	margin-top: 150px;
	padding-left: 124px;
}

.studio-text h2 {
	font-family: 'Georgia'!important; 
	font-size: 1.875em;
	font-weight: lighter;
}

.studio-text h2::after {
  content:"";
  position: absolute;
  bottom: 260px;
  left: 125px;
  right: 680px;
  height: 0.5em;
  border-top: 2px solid white;
}
 .studio-text h3{
	font-family: 'Montserrat';
	font-size: 1.500em;
	margin-top: 90px;
	font-weight: lighter;
	margin-bottom: 85px;
}

.studio-text p {
	font-family: 'Montserrat';
	font-size: 1.500em;
	font-weight: bold;
	margin-bottom: 10px;
}



